*
{
    font-family: 'Raleway', sans-serif;
}

/* ---------- header ----------*/

header
{
    display: flex;
    margin: 0 auto 30px auto;
    flex-direction: row;
    flex-wrap: wrap;
}

header #logo-container{
    flex-grow: 1;
    padding-top: 15px;
}

header nav ul
{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    width: 330px;
    justify-content: space-around;
}

header nav li a
{
    padding-top: 30px;
    display: block;
}

header nav li
{
    list-style: none;
}

#inscrire
{
    padding-top: 30px;
    color: #0065FC;
    font-weight: bold;
    margin-right: 1%;
    margin-left: 30px;
}

header a
{
    text-decoration: none;
    color: black;
}

header nav a:hover
{
    border-top: 2px solid #0065FC;
    color: #0065FC;
}

/* ---------- titles and search ----------*/

h1
{
    font-size: 1.5em;
}

#search
{
    display: flex;
    flex-direction: row;
    height: 50px;
    margin-top: 30px;
    margin-bottom: 15px;
}

#locationdot
{
    width: 50px;
    height: 35px;
    text-align: center;
    background-color: #F2F2F2;
    border-radius: 15px 0 0 15px;
    padding-top: 15px;
}

#textsearch
{
    padding-left: 15px;
    font-weight: bold;
    border: 2px #F2F2F2 solid;
    font-size: 1.2em;
}

#searchbutton
{
    padding: 0 15px 0 15px;
    font-weight: bold;
    background-color: #0065FC;
    color: #ffffff;
    border: 2px #0065FC solid;
    border-radius: 0 15px 15px 0px;
    font-size: 1.2em;
}

/* ---------- filters ---------- */

#divfilters
{
    display: flex;
    flex-direction: row;
}

#divfilters ul
{
    display: flex;
    flex-direction: row;
    list-style: none;
}

#divfilters h2
{
    font-size: 1.2em;
    padding-top: 15px;
    padding-left: 10px;
}

#divfilters li
{
    border: 3px #F2F2F2 solid;
    border-radius: 50px 50px 50px 50px;
    margin-right: 25px;
}

#divfilters a
{
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding-right: 20px;
    padding-left: 12px;
}

#divfilters a:hover
{
    color: #0065FC;
    font-size: 1.1em;
}

#divfilters i
{
    color: #0065FC;
    background-color: #DEEBFF;
    border-radius: 50px;
    padding: 15px 15px;
}

/* ---------- info ---------- */

#iconinfo
{
    display: flex;
    flex-direction: row;
    margin-top: 18px;
    margin-bottom: 33px;
}

#iconinfo i
{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0065FC;
    border: 2px #F2F2F2 solid;
    width: 25px;
    height: 25px;
    margin-right: 13px;
    border-radius: 50px;
    font-size: 0.8em;
}

/* ---------- main ----------*/

main
{
    display: grid;
    grid-template-areas: "divhebergements divpopulaires";
    grid-gap: 50px;
}

.sectionhebergements img
{
    width: 245px;
    height: 117px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}

.sectionpopulaires img
{
    width: 135px;
    height: 143px;
    object-fit: cover;
    border-radius: 15px 0 0 15px;
}

.sectionhebergements
{
    background-color: #F2F2F2;
    border-radius: 15px 15px 15px 15px;
    padding-bottom: 25px;
    padding-right: 40px;
    padding-left: 8px;
}

.sectionpopulaires
{
    background-color: #F2F2F2;
    border-radius: 15px 15px 15px 15px;
    padding-bottom: 25px;
    margin-right: 60px;
}

.sectionhebergements article
{
    background-color: #ffffff;
    border-radius: 20px 20px 20px 20px;
    margin: auto;
    padding: 5px 5px 0px 5px;
    margin-bottom: 32px;
    margin-left: 32px;
    box-shadow: 1px 1px 10px #cccccc;
}

.sectionpopulaires article
{
    background-color: #ffffff;
    border-radius: 20px 20px 20px 20px;
    margin: auto;
    padding: 5px 0 2px 5px;
    margin-bottom: 32px;
    margin-right: 80px;
    box-shadow: 1px 1px 10px #cccccc;
}

.sectionhebergements h2
{
    margin-left: 33px;
    padding-top: 25px;
    padding-bottom: 10px;
    font-size: 2.6ex;
}

.sectionpopulaires h2
{
    font-size: 2.6ex;
}

.iconchart
{
    padding-top: 27px;
    margin-left: 110px;
    font-size: 1.5em;
}

.titleiconpop
{
    display: flex;
    flex-direction: row;
}

.divhebergements
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.divpopulaires
{
    padding-left: 40px;
    padding-top: 20px;
}

main h3
{
    font-size: 2ex;
}

main p
{
    font-size: 1.7ex;
}

main .iconstar
{
    font-size: 1.4ex;
    color: #0065FC;
}

main .greystar
{
    color: #F2F2F2;
}

.price
{
    font-weight: bold;
}

.art7, .art8, .art9
{
    display: flex;
    flex-direction: row;
}

.carcontainer, h3, p
{
    line-height: 0.3;
}

.affich
{
    font-size: 2.4ex;
    font-weight: bold;
    margin-left: 40px;
}

#sectionActivites img
{
    width: 320px;
    height: 410px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}