/* -- -- -- -- Propriétés générales -- -- -- -- */

*{
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
}

input:focus{
    outline: none;
}

h2{
    font-size:1.3em;
}

.blue{color: #0065FC;}
.lightGrey{color: #F2F2F2;}
.bgBlue{background-color: #0065FC;}
.bgLightBlue{background-color: #DEEBFF;}
.bgLightGrey{background-color: #F2F2F2;}
.bdLightGrey{border-color: #F2F2F2;}

/* -- -- -- -- Wrapper -- -- -- -- */

.wrapper{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 50px;
}
#hebergements.wrapper{
    max-width: none;
    margin: 0;
}
footer.wrapper{
    padding: 40px 50px 40px 50px;
}

/* -- -- -- -- Grid Main Hébergements/Populaires -- -- -- -- */

#hebergements{grid-area: hebergements;}
#populaires{grid-area: populaires;}

#main-hebergements.grid{
    display: grid;
    grid-template-rows: auto;
    grid-gap: 40px;
    grid-template-areas:
        "hebergements populaires";
}

/* -- -- -- -- Grid Hébergements -- -- -- -- */

#hebergements h2{grid-area: titre;}
#artH1{grid-area: artH1;}
#artH2{grid-area: artH2;}
#artH3{grid-area: artH3;}
#artH4{grid-area: artH4;}
#artH5{grid-area: artH5;}
#artH6{grid-area: artH6;}
#hebergements a{grid-area: afficherPlus;}

#hebergements.grid{
    display: grid;
    grid-gap: 28px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 1fr 1fr auto;
    grid-template-areas: 
    "titre titre titre"
    "artH1 artH2 artH3"
    "artH4 artH5 artH6"
    "afficherPlus afficherPlus afficherPlus";
    background-color: #F2F2F2;
}

/* -- -- -- -- Grid Populaires -- -- -- -- */

#populaires h2{grid-area: titre;}
#artP1{grid-area: artP1;}
#artP2{grid-area: artP2;}
#artP3{grid-area: artP3;}

#populaires.grid{
  display: grid;
  grid-gap: 28px;
  grid-template-rows: auto 1fr 1fr 1fr;
  grid-template-areas:
    "titre"
    "artP1"
    "artP2"
    "artP3";
  background-color: #F2F2F2;
}

/* -- -- -- -- Grid Activités-- -- -- -- */

#main-activites h2 {grid-area: titre;}
#artA1 {grid-area: artA1;}
#artA2 {grid-area: artA2;}
#artA3 {grid-area: artA3;}
#artA4 {grid-area: artA4;}

#main-activites.grid {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "titre titre titre titre"
      "artA1 artA2 artA3 artA4";
}

/* -- -- -- -- Grid Footer -- -- -- -- */

#footer-about {grid-area:about;}
#footer-hebergements {grid-area:hebergements;}
#footer-assistance {grid-area:assistance;}

footer.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 16px;
    grid-template-areas:
        "about hebergements assistance";
    background-color: #F2F2F2;
}

/* -- -- -- -- header -- -- -- -- */

header{
    display: flex;
}

header img{
    margin-right: auto;
    width: 90px;
    padding-top: 45px;
}

nav ul{
    display: flex;
    width: 320px;
}

header nav ul li{
    width: 50%;
}

header a{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 70px;
    width: 120px;
    font-weight: bold;
}

header nav ul li a:hover{
    border-top: 2px solid;
    color: #0065FC;
    text-decoration: none;
}

/* -- -- -- -- Titres et recherche -- -- -- -- */

#main-rechercher h1{
    margin-top: 35px;
    font-size: 24px;
    font-weight: bold;
}

#main-rechercher h2{
    font-size: 17.7px;
    margin-top: 10px;
    font-weight: normal;
}

#divRechercher{
    display: flex;
    margin-top: 20px;
}

#icon-map{
    display: flex;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 15px 0 0 15px;
}

#icon-map i{
    font-size: 18px;
    margin-left: 17px;
}

#textSearch{
    font-weight: bold;
    width: 70%;
    max-width: 235px;
    height: 50px;
    border-style: solid;
    border-width: 1px;
    border-right: none;
    padding-left: 15px;
    padding-right: 15px;
}

.boutonRechercher{
    height: 50px;
    background-color: #0065FC;
    color: white;
    border-radius: 0px 15px 15px 0px;
    border: none; 
    font-weight: bold;
}

.texteBouton{
    padding: 10px;
}

button{
    cursor: pointer;
}

.icon-button{
    display: none !important;
    background: none;
    border: none;
}

/* -- -- -- -- Filtres -- -- -- -- */

#main-filtres{
    display: flex;
    margin-top: 30px;
}

#filtresTitre{
    font-weight: bold;
    margin-right: 25px;
    padding-top: 12px;
}

#main-filtres li:hover{
    color: #0065FC;
}

#main-filtres ul span:hover{
    font-size: 1.1em;
}

#main-filtres li{
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    border: 2px solid #F2F2F2;
    border-radius: 35px;
    margin-right: 32px;
    margin-bottom: 10px;
    padding-left: 56px;
    padding-right: 22px;
    font-weight: bold;
    height: 45px;
    position: relative;
}

#main-filtres li .icon-filter {
    height: 45px;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #DEEBFF;
    margin-right: 10px;
    border: 2px solid #DEEBFF;
    position: absolute;
    left: -1px;
}

/* -- -- -- -- Information -- -- -- -- */

#main-info{
    display: flex;
    margin-top: 30px;
}

#main-info .icon-info{
    width: 26px;
    height: 26px;
    border-style: solid;
    border-width: 2px;
    background-color: #FFFFFF;
    border-radius: 50%;
    color: #F2F2F2;
}

#main-info .icon-info i{
    font-size: small;
    margin-left: 9px;
    margin-right: 9px;
}

#main-info span{
    margin-left: 12px;
    font-size: 16px;
    margin-top: 3px;
    white-space:normal;
}

/* -- -- -- -- Hebergements -- -- -- -- */

#main-hebergements{
    margin-top: 50px;
}

#main-hebergements h2{
    font-weight: bold;
    color: black;
}

#main-hebergements h3{
    font-weight: bold;
    color: black;
}

#main-hebergements span{
    font-size: small;
    font-weight: bold;
    color: black;
}

#main-hebergements a{
    font-size: 1.2em;
    font-weight: bold;
}

#hebergements{
    padding: 40px 40px 40px 40px;
    border-radius: 20px 20px 20px 20px;
}

#hebergements a{
    padding-top: 5px;
}

#hebergements .articleInfo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 31%;
    margin-top: 8px;
    margin-left: 8px;
}

.artHebergements{
    width: 100%;
    max-height: 200px;
    min-width: 250px;
    border-radius: 20px;
    box-shadow: 1px 2px 5px #cccccc;
    background-color: #FFFFFF;
    padding: 5px 5px 0px 5px;
}

.artHebergements .imgBox{
    width: 100%;
    height: 60%;
}

.artHebergements img{
    border-radius: 15px 15px 0 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.artHebergements p{
    font-weight: normal;
    font-size: 14px;
}

.artHebergements p{
    font-size: 13px;
}

.artHebergements i{
    font-size: 12px;
    letter-spacing: -3px;
}

/* -- -- -- -- Populaires -- -- -- -- */

#populaires{
    padding: 40px 40px 40px 40px;
    border-radius: 20px 20px 20px 20px;
}

#populaires #conteneurTitre-icon{
    display: flex;
}

#populaires #conteneurTitre-icon h2{
    margin-right: auto;
}

#populaires #conteneurTitre-icon i{
    font-size: 23px;
}

#populaires .flexConteneur-art{
    display: flex;
}

#populaires .articleInfo{
    margin-top: 8px;
    margin-left: 13px;
}

main .artPopulaires{
    width: 100%;
    height: 100%;
    max-width: 343px;
    min-width: 290px;
    min-height: 143px;
    border-radius: 20px;
    box-shadow: 1px 2px 5px #cccccc;
    background-color: #FFFFFF;
    padding: 5px 5px 0px 5px;
}

main .artPopulaires .imgBox{
    border-radius: 15px 15px 0 0;
    width: 42%;
    height: 143px;
}

main .artPopulaires img{
    border-radius: 15px 0px 0 15px;
    object-fit: cover;
    width: 100%;
    height: 100%;
    width: 130px;
    max-height: 138px;
}

#populaires .articleInfo{
    display: flex;
    flex-direction: column;
    height: auto;
    padding-right: 25px;
    justify-content: space-between;
}

#populaires p{
    padding-top: 8px;
    font-size: 14px;
    font-weight: normal;
}

#populaires .starBox{
    padding-bottom: 10px;
}

#populaires .starBox i{
    font-size: 12px;
}

/* -- -- -- -- Activités -- -- -- -- */

#main-activites{
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#main-activites h2{
    font-weight: bold;
}

#main-activites .articleInfo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 33%;
    margin-top: 8px;
    margin-left: 8px;
}

.artActivites{
    width: 100%;
    border-radius: 20px;
    box-shadow: 1px 2px 5px #cccccc;
    background-color: #FFFFFF;
}

.artActivites img{
    border-radius: 20px 20px 0 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.artActivites h3{
    font-weight: bold;
    margin-top: 10px;
    margin-left: 10px;
}

#artA2-a, #artA4-a{
    margin-bottom: 40px;
}

#artA1, #artA3{
    height: 445px;
}

#artA1 #imgBoxA1,
#artA3 #imgBoxA3{
  height: 385px;
}

#artA1 #imgBoxA1 img{
    object-fit: none;
    object-position: 52% 40%;
}

#artA2-a{
    height: 240px;
}

#artA2-a #imgBoxA2-a{
    height: 180px;
}

#artA2-a #imgBoxA2-a img{
    object-fit: cover;
    object-position: 52% 40%;
}

#artA2-b{
    height: 165px;
}

#artA2-b #imgBoxA2-b{
    height: 104px;
}

#artA2-b #imgBoxA2-b img{
    object-fit: cover;
    object-position: 50% 25%;
}

#artA3 #imgBoxA3 img{
    object-fit: none;
    object-position: 51% -9%;
}

#artA4-a,#artA4-b{
    height: 202px;
}

#artA4-a #imgBoxA4-a,
#artA4-b #imgBoxA4-b{
  height: 142px;
}

#artA4-a #imgBoxA4-a img{
    object-fit: cover;
    object-position: 50% 0%;
}

#artA4-b #imgBoxA4-b img{
    object-fit: cover;
    object-position: 50% 25%;
}

/* -- -- -- -- Footer -- -- -- -- */

footer .contenu{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer h3{
    font-weight: bold;
    padding-bottom: 20px;
}

footer ul li{
    padding-top: 5px;
}

#footer-hebergements, #footer-assistance{
    height: 80px;
}

/* -- -- -- -- Media queries -- -- -- -- */

/* -- -- -- -- Media Queries Grid Hébergements/Populaires -- -- -- -- */

@media all and (max-width: 1024px){
    #main-hebergements.grid{
      display: grid;
      grid-gap: 0px;
      grid-template-columns: 1fr;
      grid-template-rows: auto auto;
      grid-template-areas: 
          "populaires"
          "hebergements";
    }
  }

/* -- -- -- -- Media Queries Grid Hébergements -- -- -- -- */

@media all and (min-width: 1025px) and (max-width: 1300px){
    #hebergements.grid{
      display: grid;
      grid-gap: 28px;
      grid-template-columns: 1fr 1fr;
      grid-template-areas:
          "titre titre"
          "artH1 artH2"
          "artH3 artH4"
          "artH5 artH6"
          "afficherPlus afficherPlus"; 
    }
  }

@media all and (min-width: 721px) and (max-width: 1024px){
    #hebergements.grid{
      display: grid;
      grid-gap: 28px;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: auto 1fr 1fr auto;
      grid-template-areas:
          "titre titre titre"
          "artH1 artH2 artH3"
          "artH4 artH5 artH6"
          "afficherPlus afficherPlus afficherPlus";
      background-color: white;
      border-radius: 0px;     
    }
  }

@media all and (min-width: 465px) and (max-width: 720px){
    #hebergements.grid{
      display: grid;
      grid-gap: 28px;
      grid-template-columns: 1fr 1fr;
      grid-template-areas:
          "titre titre"
          "artH1 artH2"
          "artH3 artH4"
          "artH5 artH6"
          "afficherPlus afficherPlus"; 
      border-radius: 0px;
      background-color: white;   
    }
  }

@media all and (max-width: 464px){
    #hebergements.grid{
      display: grid;
      grid-gap: 28px;
      grid-template-columns: 1fr;
      grid-template-areas:
          "titre"
          "artH1"
          "artH2"
          "artH3" 
          "artH4"
          "artH5"
          "artH6"
          "afficherPlus";
      border-radius: 0px;
      background-color: white;     
    }
  }

/* -- -- -- -- Media Queries Grid Populaires -- -- -- -- */

@media all and (min-width: 1025px) and (max-width: 1300px){
    #populaires.grid{
      display: grid;
      grid-gap: 35px;
      grid-template-columns: auto;
      grid-template-rows: auto auto auto auto 1fr;
      grid-template-areas:
          "titre"
          "artP1"
          "artP2"
          "artP3"
          ".";  
      }
  }

@media all and (min-width: 768px) and (max-width: 1024px){
  #populaires.grid{
    display: grid;
    grid-gap: 35px;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    grid-template-areas:
        "titre titre"
        "artP1 artP2"
        "artP3 artP3";
    border-radius: 0px;
    background-color: #F2F2F2;  
  }

#conteneurTitre-icon{
    grid-column-start: 1;
    grid-column-end: span 2;
  }
}

@media all and (max-width: 767px){
    #populaires.grid{
      display: grid;
      grid-gap: 28px;
      grid-template-rows: auto 1fr 1fr 1fr;
      grid-template-areas:
          "titre"
          "artP1"
          "artP2"
          "artP3";
      border-radius:  0px;
      background-color:#F2F2F2;
    }
  }

/* -- -- -- -- Media Queries Grid Activités -- -- -- -- */

@media all and (min-width: 579px) and (max-width: 1024px){
    #main-activites.grid{
      display: grid;
      grid-gap: 30px;
      grid-template-columns: auto auto;
      grid-template-rows: auto auto auto;
      grid-template-areas:
          "titre titre"
          "artA1 artA2"
          "artA3 artA4";        
    }
  }

@media all and (max-width: 579px){
    #main-activites.grid{
      display: grid;
      grid-gap: 30px;
      grid-template-columns: auto;
      grid-template-areas:
          "titre"
          "artA1"
          "artA2"
          "artA3"
          "artA4"; 
    }
  }

/* -- -- -- -- Media Queries Grid Footer -- -- -- -- */

@media all and (min-width: 580px) and (max-width: 860px){
    footer.grid{
      display: grid;
      grid-gap: 48px;
      grid-template-columns: auto auto;
      grid-template-rows: auto auto;
      grid-template-areas:
          "aPropos hebergements"
          " assistance assistance";
    }
  }

@media all and (max-width: 579px){
    footer.grid{
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto auto auto ;
      grid-template-areas:
          "aPropos"
          "hebergements"
          "assistance";
    }
  }

/* -- -- -- -- Media Queries Wrapper -- -- -- -- */

@media all and (max-width: 1024px){
    .wrapper{
      padding: 0 30px;
    }
    #main-hebergements.wrapper{
      padding: 0;
    }
    #hebergements.wrapper{
      max-width: none;
      margin: 0;
      padding: 30px;
    }
    #populaires.wrapper{
      max-width: none;
      margin: 0;
      padding: 30px;
    }
    footer.wrapper{
      padding: 40px 30px 40px 30px;
    }
  } 
  @media all and (max-width: 649px){
    .wrapper{
      min-width: 345px;
      padding: 0 20px;
    }
    header.wrapper{
      padding: 25px 0px 0px 0px;
    }
    #main-hebergements.wrapper{
      padding: 0px;
    }
    #hebergements.wrapper{
      max-width: none;
      margin: 0;
      padding: 20px;
    }
    #populaires.wrapper{
      max-width: none;
      margin: 0;
      padding: 20px;
      background-color: #F2F2F2;
    }  
    footer.wrapper{
      padding: 40px 20px 0px 20px;
      background-color: #F2F2F2;
    }
  }
  @media all and (max-width: 579px){
    footer.wrapper{
      padding: 40px 20px 0px 20px;
    }
  }
  
  /* -- -- -- -- Media Queries Header -- -- -- -- */

  @media all and (max-width: 649px){
    header{
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    }
    header img{
      margin-left: 20px;
      padding-top: 0px;
    }
    header nav{
      margin-top: 30px;
      width: 100%;
      order: 3;
    }  
    nav ul{
      display:flex;
      width: auto;
    }
    header nav ul li {
      text-align: center;
      width: 50%;
    }
    header a {
      height: auto;
    }
    header nav ul li a {
      justify-content: center;
      align-items: normal;
      height: 35px;
      width: 100%;
      padding: 0px 0px 10px 0px;
      border-bottom: 3px solid #F2F2F2 ;
    }
    header nav ul li a:hover {
      color:#0065FC;
      border-top: none;
      border-bottom: 3px solid #0065FC;
    }
    header a{
      width: auto;
      order: 2;
      padding-bottom: 0px;
      padding-right: 20px;
    } 
  }
  
  /* -- -- -- -- Media Queries Titre et Recherche -- -- -- -- */

  @media all and (max-width: 415px){
    #divRechercher{
      margin-top: 40px;
    }
    .texteBouton{
      display: none;
    }
    .icon-button:hover{
      background-color: #0065FC;
      border-radius: 25%;
    }
    .icon-button{
      display: flex !important;
      color: white;
      border-radius: 25%;
      width: 50px;
      height: 50px;
      background-color: #0065FC;
      font-size: 16px;
      align-items: center;
      justify-content: center;
    }
    .boutonRechercher{
      border-radius: 25%;
      width: 45px;
      height: 45px;
    }
  
  }   
  
  /* -- -- -- -- Media Queries Filtres -- -- -- -- */

  @media all and (max-width: 426px){
    #main-filtres{
      display: inline-block;
    }
    #filtresTitre{
      display: inline-block;
      margin-bottom: 20px;
    }
  }
  @media all and (min-width: 376px) and (max-width: 426px){
    #main-filtres li{
      margin-right: 6px;
      padding-left: 55px;
      padding-right: 15px;
    }
  }
  @media all and (max-width: 375px){
    #main-filtres li{
      margin-right: 4px;
      padding-left: 49px;
      padding-right: 15px;
    }
  }
  
  /* -- -- -- -- Media Queries Hebergements -- -- -- -- */

  @media all and (max-width: 579px){
    #hebergements .artHebergements{
      max-width: none;
    }
  }
  
  /* -- -- -- -- Media Queries Populaires -- -- -- -- */

  @media all and (max-width: 390px){
    #populaires .artPopulaires{
      max-width: none;
    }
    #populaires{
      padding: 0px;
    }
  }
  
  /* -- -- -- -- Media Queries Activites -- -- -- -- */

  @media all and (max-width: 1024px){
    #main-activites {
      margin-top: 30px;
      margin-bottom: 30px;
    }
  @media all and (max-width: 579px){
    #artA1, #artA2-a ,#artA2-b,
    #artA3, #artA4-a, #artA4-b{
      height: 205px;  
    }
    #artA1 #imgBoxA1,
    #artA2-a #imgBoxA2-a,
    #artA2-b #imgBoxA2-b,
    #artA3 #imgBoxA3,
    #artA4-a #imgBoxA4-a,
    #artA4-b #imgBoxA4-b{ 
      height: 150px;
    }
    #artA1 #imgBoxA1 img{
      object-fit: cover;
      object-position: 50% 15%;
    }
    #artA2-a #imgBoxA2-a img{
      object-fit: cover;
      object-position: 50% 42%;
    }
    #artA2-b #imgBoxA2-b img{
      object-fit: cover;
      object-position: 50% 16%;
    }
    #artA3 #imgBoxA3 img{
      object-fit: none;
      object-position: 50% 45%;
    }
  #artA4-a #imgBoxA4-a img{
      object-fit: cover;
      object-position: 50% 15%;
    }
  #artA4-b #imgBoxA4-b img{
      object-fit: cover;
      object-position: 50% 25%;
    }
  }
  
  /* -- -- -- -- Media Queries Footer -- -- -- -- */

  @media all and (min-width: 860px)and (max-width: 1024px){
    #footer-hebergements, #footer-assistance{
      margin-left: 80px;
    }
  }  
  @media all and (max-width:579px){
    footer .contenu{
      margin-bottom: 30px;
    }
  }
  
  }